* {
    margin: 0;
    padding: 0;
}
.header {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem 2rem 1rem 2rem;
}

.left-side-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-grid {
    display: grid;
    grid-template-columns: auto auto;
    height: 50px;
    width: 180px;
}

.globe {
    height: 50px;
    width: 50px;
}

.next-to-globe {
    height: 36px;
    width: 120px;
}

.btn {
    border-radius: 0%;
    border: 1px solid black;
}

.header input {
    border-radius: 0%;
    border: 1px solid black;
    margin: 0;
}

.nav-btn {
    border-radius: 0%;
    
}

.navbar .container {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 0;
}

.body-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.left-pinned {
    padding: 0 1rem 0 1rem;
    position: absolute;
    width: 100%;
    margin-left: 4rem;
}

.left-pinned p, a {
    margin: 0;
    padding-top: 10px;
}

.left-pinned h3 {
    padding-right: 1rem;
}

.right-pinned h3 {
    padding-right: 1rem;
}

.right-pinned {
    display: flex;
    justify-content: end;
    position: absolute;
    width: 100%;
    flex-direction: column;
    margin-right: 4rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 1rem;
}

.sidebar-break {
    border: 1px solid black;
    opacity: 0.1;
    width: 16rem;
}

.main-break {
    border: 1px solid black;
    opacity: 0.1;
    width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.center-content {
    margin: 0 4rem 0 4rem;
}

.mirage-box {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    flex-direction: column;
}

.box-header {
    text-align: center;
    background-color: rgb(124, 124, 217);
    margin: 5px 10px 5px 10px;
}

.box-photo {
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.box-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.box-list {
    text-decoration: none;
}

.chronology-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chronology {
    align-items: center;
}

.chronology p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.info-padding {
    padding: 0 1rem 0 1rem;
}